@model IEnumerable<Annexio4.Models.CountriesViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Countries</h1>
</div>
<table>
    @foreach (var item in Model)
    {
    <tr>
        <td>@Html.ActionLink(item.Name, "Country", "Home", new { name = item.Name }, null)</td>
        @if (!String.IsNullOrEmpty(item.Region))
        {
            <td>@Html.ActionLink(item.Region, "Region", "Home", new { name = item.Region }, null)</td>
        }
        @if (!String.IsNullOrEmpty(item.Subregion))
        {
            <td>@Html.ActionLink(item.Subregion, "Subregion", "Home", new { name = item.Subregion }, null)</td>
        }
        </tr>
    }
</table>
